<img src="assets\img\pexels-gustavo-fring-4254168.jpg" style="width: 100%;">
<div class="serviços">
    <h1>Nossos serviços</h1>
    <h2>subtitulo</h2>
    <p>observação</p>
    <div class="card-deck">
        <div class="card">
            <div class="card-img"><img src="assets\img\pexels-gustavo-fring-4254168.jpg" style="width: 100%;"></div>
            <div class="card-header">Comunicação</div>
            <div class="card-text">fazemos tudo legal</div>
        </div>
        <div class="card">
            <div class="card-img"><img src="assets\img\pexels-gustavo-fring-4254168.jpg" style="width: 100%;"></div>
            <div class="card-header">Comunicação</div>
            <div class="card-text">fazemos tudo legal</div>
        </div>
        <div class="card">
            <div class="card-img"><img src="assets\img\pexels-gustavo-fring-4254168.jpg" style="width: 100%;"></div>
            <div class="card-header">Comunicação</div>
            <div class="card-text">fazemos tudo legal</div>
        </div>
    </div>
    <div class="button"><button>SAIBA MAIS</button></div>
</div>

<div class="produtos">
    <br>
    <p>É isso que</p>
    <h1>estamos oferecendo</h1>
    <hr class="rounded" width="10%">
    <div class="card-deck">
        <div class="card-group">
            <div class="card">
                <div class="card-img"><img src="assets\img\pexels-gustavo-fring-4254168.jpg" style="width: 100%;"></div>
                <div class="card-text">Comunicação</div>                
            </div>
            <div class="card">
                <div class="card-img"><img src="assets\img\pexels-gustavo-fring-4254168.jpg" style="width: 100%;"></div>
                <div class="card-text">Comunicação</div>                
            </div>
            <div class="card">
                <div class="card-img"><img src="assets\img\pexels-gustavo-fring-4254168.jpg" style="width: 100%;"></div>
                <div class="card-text">Comunicação</div>                
            </div>
            <div class="card">
                <div class="card-img"><img src="assets\img\pexels-gustavo-fring-4254168.jpg" style="width: 100%;"></div>
                <div class="card-text">Comunicação</div>                
            </div>
        </div>
        <div class="card">
            <img src="assets\img\pexels-gustavo-fring-4254168.jpg" style="width: 100%;">
        </div>
    </div>
</div>

<div class="opinião">
    
</div>

<div class="resultado">

</div>