h2 {
    text-align: center;
    font-family: exo2;
    font-weight: bold;
}
article {
    text-align: center;
    font-family: exo2;
    color: gray;
    margin-bottom: 2.5%;
}
header {
    text-align: center;
    margin-bottom: 10%;
    font-family: exo2;
    color: grey;
}
button{
    margin-top: 10%;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 5%;
    border-radius: 18px;
    border-color: rgb(116, 239, 255);
    color:rgb(55, 197, 216);
    background-color: white;
    border-width: 2px;
    padding: 1% 4%;
    font-size: 90%;
    font-family: exo2;
    font-weight: bold;
}
.first{
    margin-bottom: 10%;
}
hr{
    background-color: dimgrey !important;
    color: dimgrey !important;
    height: 1px !important;
    width: 8%;
}
p {
    margin-left:0%;
    color: grey;
    font-family: exo2;
    font-size: 105%;
    text-align: left;
    font-weight: bolder;
}
h4 {
    text-align: left;
    margin-left:5%;
    font-family: exo2;
    font-weight: 600;
    font-size: 130%;
    margin-bottom: 4%;
}
a{
    font-family: exo2;
}
img{
    width: 100%;
}

.card-footer{
    background-color: white;
    border-top: 0px;
    text-align: left;
    margin-left: 5%;
    margin-bottom: 5%;
    color: gray;
}

.card-header{
    background-color: white;
    border-bottom: 0px;
}
.card-img{
    width: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    height: 150px;
    display: inline–block;
}
.card{
    border-radius:15px;
    display: flex;
}
.deck{
    margin:10%;
    align-items: auto; 
}
.card-group{    
    border-radius: 0px;
    display: flex;
}
.card-img-center{
    width: 118.5%;
    border-radius: 15px;
    height:0 auto;
    align-self: center;
    min-height: 20%;
}
.card.segundo{
    border-radius:0px;
    border: 0px none;
    background-color: rgb(247,247,247);
}

.card-footer-center{
    background-color: rgb(247,247,247);
    text-align: center;
    margin:5%;
    margin-bottom: 20%;
}
.card-img-left{
    width: 25%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
    height:25%;
    align-self: center;
}
.card-footer-last{
    background-color: white;
    border-top: 0px;
    text-align: left;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
}
.card-text{
    display: auto;
    text-align: left;
}
.card.last{
    border-radius:15px;
    display: flex;
    height: flex;
}
.last{
    text-align: left;
    margin: 2.5%;
    margin-left: 5%;
    padding: 2%;
    padding-top: 0%;
}

.container.carousel{
    margin-top:10%; 
    margin-bottom:10%;
    background-color: rgb(0, 179, 192);
    border-radius: 15px;
}
.img.carousel{
    margin-bottom: 1%;
    margin-top: 90%;
    background-color: white;
    border: 10px;
    border-color: white;
    border-radius: 50%;
    height: 50% auto;
    width: 50%;
    margin: 10%;
    margin-left: 40%;
}
.card.carousel{
    background-color: rgb(0, 179, 192);
    border-radius: 0px;
}
.column {
    float: left;
    width: 30%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.nome{
    color: white;
    text-align: left;
    margin-top: 22%;
    margin-left: 5%;
}
.sobrenome{
    color: white;
    text-align: left;
    font-weight: lighter;
    margin-top: 5%;
    margin-left: 2%;
    font-size: xx-large;
}
.italico{
    color: white;
    font: exo2;
    margin-top: 10%;
    text-align: left;
    display: flex;
    font-size: 150%;
}