<img class="first" src="assets\img\pexels-gustavo-fring-4254168.jpg">
<div class="container-fluid">
    <div class="mx-auto">
        <h2>Nossos serviços</h2>
        <hr class="solid" width="8%">
        <header>Serviços de altíssima qualidade quando a intenção é tornar o seu ambiente do dia a dia mais confortável
            e inteligente.</header>
            <mdb-card>
                <mdb-card-img src="src\assets\img\eletrica.png"></mdb-card-img>
                <mdb-card-title><h4>Elétrica e comunicação</h4></mdb-card-title>
                <footer>Serviços de elétrica de baixa e média tensão e resolução de problemas de interfonia.</footer>
            </mdb-card>
            <mdb-card>
                <div class="card-img"><img src="assets\img\cftv.png"></div>
                <h4>Vigilância CFTV</h4>
                <footer>Serviços de CFTV (Closed Circuit Television). Instalação de câmeras e monitoramento.</footer>
            </mdb-card>
            <mdb-card>
                <div class="card-img"><img src="assets\img\servico.png"></div>
                <h4>Serviço de automação</h4>
                <footer>Prestamos serviços de automatização de portões.</footer>
            </mdb-card>
        
        <button>Saiba mais</button>
    </div>
</div>

<div class="container-fluid">
    <br>
    <article>É exatamente isso o que</article>
    <h2>Nós estamos oferecendo</h2>
    <hr class="rounded" width="10%">
    <div id="deck" class="card-deck">
        <div class="card-group">
            <div class="card">
                <div class="card-img"><img src="assets\img\pexels-gustavo-fring-4254168.jpg"></div>
                <p>Excelência profissional nos serviços prestados</p>
            </div>
            <div class="card">
                <div class="card-img"><img src="assets\img\pexels-gustavo-fring-4254168.jpg"></div>
                <p>Controle em tempo real dos serviços prestados</p>
            </div>
            <div class="card">
                <div class="card-img"><img src="assets\img\pexels-gustavo-fring-4254168.jpg"></div>
                <p>Plataforma online para análise e requisição de serviços, sem burocracia</p>
            </div>
            <div class="card">
                <div class="card-img"><img src="assets\img\pexels-gustavo-fring-4254168.jpg"></div>
                <p>Aumento do desempenho para você e todo o seu condomínio</p>
            </div>
        </div>
        <div class="card">
            <div class="card-img"><img src="assets\img\pexels-gustavo-fring-4254168.jpg"></div>
        </div>
    </div>
</div>

<div class="container-fluid">

</div>

<div class="container-fluid">
    <article>O que realizamos que</article>
    <h2>Já deu certo</h2>
    <hr class="rounded" width="10%">
    <div class="card-deck">
        <div class="card">
            <div class="card-img"><img src="assets\img\pexels-gustavo-fring-4254168.jpg"></div>
            <h4>Projeto casa automática do Vinícius 13</h4>
            <p>Início da casa automática para o famoso youtuber Vinícius 13</p>
            <a>Saiba mais -></a>
        </div>
        <div class="card">
            <div class="card-img"><img src="assets\img\pexels-gustavo-fring-4254168.jpg"></div>
            <h4>Projeto arquitetura elétrica condomínio Domo</h4>
            <p>Neste projeto identificamos diversas falhas estruturais que foram resolvidas dentro do budget estipulado
                e sem atrasos</p>
            <a>Saiba mais -></a>
        </div>
        <div class="card">
            <div class="card-img"><img src="assets\img\pexels-gustavo-fring-4254168.jpg"></div>
            <h4>Projeto Parque dos pássaros</h4>
            <p>O projeto Parque dos pássaros foi o mais extenso e desafiador de nossa história; e também o que mais
                trouxe retorno</p>
            <a>Saiba mais -></a>
        </div>
    </div>
    <div class="button"><button>Veja todos</button></div>
</div>