h2 {
    text-align: center;
}
article {
    text-align: center;
}
p {
    text-align: center;
    margin-bottom: 10%;
}
button{
    margin-top: 10%;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10%;
    
}
.deck{
    margin-top: 10%;
}
.first{
    margin-bottom: 20%;
}
.card{
    border-radius:15px;
}
.card-img{
    border-radius: 10px;

}