<img class="first" src="assets\img\pexels-gustavo-fring-4254168.jpg">
<div class="serviços">

    <h2>Nossos serviços</h2>
    <hr class="rounded">
    <header>Serviços de altíssima qualidade quando a intenção é tornar o seu ambiente do dia a dia mais confortável
        e inteligente.</header>
    <div class="container">
        <div id="deck" class="card-deck">
            <div class="card">
                <img class="card-img" src="assets\img\eletrica.png">
                <div class="card-header">
                    <h4>Elétrica e comunicação</h4>
                </div>
                <div class="card-footer">Serviços de elétrica de baixa e média tensão e resolução de problemas de
                    interfonia.</div>
            </div>
            <div class="card">
                <img class="card-img" src="assets\img\cftv.png">
                <div class="card-header">
                    <h4>Vigilância CFTV</h4>
                </div>
                <div class="card-footer">Serviços de CFTV (Closed Circuit Television). Instalação de câmeras e
                    monitoramento.</div>
            </div>
            <div class="card">
                <img class="card-img" src="assets\img\servico.png">
                <div class="card-header">
                    <h4>Serviço de automação</h4>
                </div>
                <div class="card-footer">Prestamos serviços de automatização de portões.</div>
            </div>
        </div>
    </div>
    <button>Saiba mais</button>
</div>

<div class="container">
    <br>
    <article>É exatamente isso o que</article>
    <h2>Nós estamos oferecendo</h2>
    <hr class="rounded" width="10%">
    <div class="container">
        <div class="card-group">
            <div class="card segundo border-0">
                <img class="card-img-left" src="assets\img\icon1.png">
                <div class="card-footer-center">
                    <p>Excelência profissional nos serviços prestados</p>
                </div>
            </div>
            <div class="card segundo border-0">
                <img class="card-img-left" src="assets\img\icon2.png">
                <div class="card-footer-center">
                    <p>Controle em tempo real dos serviços prestados</p>
                </div>
            </div>
            <div class="card segundo border-0">
                <img class="card-img-left" src="assets\img\icon3.png">
                <div class="card-footer-center">
                    <p>Plataforma online para análise e requisição de serviços, sem burocracia</p>
                </div>
            </div>
            <div class="card segundo border-0">
                <img class="card-img-left" src="assets\img\icon4.png">
                <div class="card-footer-center">
                    <p>Aumento do desempenho para você e todo o seu condomínio</p>
                </div>
            </div>
        </div>
        <div class="card border-0">
            <img src="assets\img\icon5.jpg" style="width: 100%;">
        </div>
    </div>
</div>
<br>
<div class="container carousel">
    <article style="padding-top: 5%; color: white;">O que é que as</article>
    <h2 style="color: white">Pessoas dizem sobre nós</h2>
    <hr class="rounded">
    <div class="carousel" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">

                <div class="row">
                    <div class=column>
                        <img class="img carousel" src="assets\img\icon10.jpg">
                    </div>
                    <div class="column">
                        <h2 class="nome">Eduardo</h2>
                        <h4 class="sobrenome">Nascimento</h4>
                    </div>
                    <div class="column">
                        <article class="italico">A FNL-Engenharia entrega no prazo, com detalhes muito bem trabalhados e
                            uma organização impecável! Recomendo muito!</article>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class=column>
                        <img class="img carousel" src="assets\img\icon11.jpg">
                    </div>
                    <div class="column">
                        <h2 class="nome">Edygon</h2>
                        <h4 class="sobrenome">Chrestani</h4>
                    </div>
                    <div class="column">
                        <article class="italico">Depois de muito procurar, encontrei uma empresa que cumpriu os prazos dentro do orçamento!</article>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class=column>
                        <img class="img carousel" src="assets\img\icon12.jpg">
                    </div>
                    <div class="column">
                        <h2 class="nome">Victor</h2>
                        <h4 class="sobrenome">Schnepper Lacerda</h4>
                    </div>
                    <div class="column">
                        <article class="italico">O serviço prestado ficou muito bom, consegui economizar bastante e fiquei muito satisfeito com o resultado</article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <article style="margin-top:10%">O que realizamos que</article>
    <h2>Já deu certo</h2>
    <hr class="rounded" width="10%">
    <div class="container">
        <div class="card-deck">
            <div class="card last">
                <img class="card-img-center" src="assets\img\icon6.jpg">
                <div class="card-header">
                    <h4>Projeto casa automática do Vinícius 13</h4>
                </div>
                <article class="last">Início da casa automática para o famoso youtuber Vinícius 13</article>
                <div class="card-footer-last"><a style="color:rgb(55, 197, 216);">Saiba mais -></a></div>
            </div>
            <div class="card last">
                <img class="card-img-center" src="assets\img\icon7.jpg">
                <div class="card-header">
                    <h4>Projeto arquitetura elétrica condomínio Domo</h4>
                </div>
                <article class="last">Neste projeto identificamos diversas falhas estruturais que foram
                    resolvidas
                    dentro do budget estipulado e sem atrasos</article>
                <div class="card-footer-last"><a style="color:rgb(55, 197, 216);">Saiba mais -></a></div>
            </div>
            <div class="card last">
                <img class="card-img-center" src="assets\img\icon9.jpg">

                <div class="card-header">
                    <h4 style="margin-left:0%">Projeto Parque dos pássaros</h4>
                </div>
                <article class="last">O projeto Parque dos pássaros foi o mais extenso e desafiador de nossa
                    história;
                    e também o que mais trouxe retorno</article>
                <div class="card-footer-last"><a style="color:rgb(55, 197, 216);">Saiba mais -></a></div>
            </div>
        </div>
    </div>
    <div class="button"><button>Veja todos</button></div>
</div>