// browser default value
$browser-context: 16;
// Sidebar Size
$sidebar-width: 230px;
$navbar-height: 60px;
$header-height: 120px;

// Dummy Logo options

$iLogoSize: 20px;
$iLogoSpacing: 6px; // Always 1/3 of iLogoSize
