// COLOR VARIABLES
$white: #fff;
$dark: #444;
$success: #00c851;
$danger: #ff4444;
$warning: #ffbb33;
$info: #33b5e5;
// Light Pallete
$main: #43668d;
$secondary: #f5f5f5;

$theme-colors: (
    "brains": (
        "border-danger": darken($danger, 0),
        "border-success": darken($success, 0),
        "border-primary": lighten($main, 60),
        "border-warning": lighten($warning, 0),
        "delete-icon": darken($danger, 0),
        "delete-icon-hover": darken($danger, 10),
        "edit-icon": darken($warning, 0),
        "edit-icon-hover": darken($warning, 10),
        "body-background": darken($secondary, 15),
        "body-color": darken($secondary, 50),
        "nav-background": darken($main, 0),
        "navbar-border-color": darken($main, 2),
        "sidebar-background": darken($main, 10),
        "sidebar-border-color": darken($main, 0),
        "sidebar-color": lighten($secondary, 10),
        "sidebar-menu-color": lighten($white, 10),
        "sidebar-submenu-border": darken($dark, 5),
        "sidebar-link-background": lighten($secondary, 2),
        "sidebar-link-background-hover": lighten($main, 0),
        "sidebar-link-color-hover": lighten($white, 10),
        "sidebar-link-submenu-background": lighten($secondary, 5),
        "widget-card-header": lighten($white, 0),
        "widget-card-body": lighten($white, 0),
        "widget-card-footer": lighten($white, 0),
        "widget-table-row-background": darken($white, 0),
        "widget-table-row-background-hover": darken($white, 5),
    ),
);
