@each $theme, $map in $theme-colors {
  body {
    background-color: map-get($map, body-background) !important;
    color: map-get($map, body-color);
  }
  #sidebar {
    background-color: map-get($map, sidebar-background) !important;
    border-color: map-get($map, sidebar-border-color) !important;
  }
  // #region NAVBAR
  .navbar {
    background: map-get($map, nav-background) !important;
    border-color: map-get($map, navbar-border-color);
  }
  .navbar-brand {
    color: map-get($map, sidebar-menu-color);
  }
  // #endregion

  // #region SIDEBAR

  .sidebar-container .sidebar-menu-itens .section {
    color: map-get($map, sidebar-menu-color);
  }

  .sidebar-container .sidebar-dropdown .sidebar-submenu li a {
    border-color: map-get($map, sidebar-submenu-border);
  }

  .sidebar-container .sidebar-menu-itens > li > a {
    color: map-get($map, sidebar-color);
  }

  .sidebar-container .sidebar-menu-itens > li > a:hover {
    background-color: map-get($map, sidebar-link-background-hover);
    color: map-get($map, sidebar-link-color-hover);
  }

  .sidebar-container .sidebar-menu-itens li a.active {
    background-color: map-get($map, sidebar-link-background-hover);
    color: map-get($map, sidebar-link-color-hover);
  }
  .sidebar-container .sidebar-dropdown .sidebar-submenu li a span:hover {
    background-color: map-get($map, sidebar-link-background-hover);
  }
  // #endregion

  // #region NAVBAR

  // #endregion

  // #region GENERAL
  .widget .delete {
    color: map-get($map, delete-icon);
    &:hover {
      color: map-get($map, delete-icon-hover);
    }
  }
  .widget .edit {
    color: map-get($map, edit-icon);
    &:hover {
      color: map-get($map, edit-icon-hover);
    }
  }
  .widget .card .card-header {
    background-color: map-get($map, widget-card-header);
  }
  .widget .card .card-body {
    background-color: map-get($map, widget-card-body);
  }
  .widget .card .card-footer {
    background-color: map-get($map, widget-card-footer);
  }
  .widget .row-status.danger {
    border-color: map-get($map, border-danger);
  }
  .widget .row-status.primary {
    border-color: map-get($map, border-primary);
  }
  .widget .row-status.warning {
    border-color: map-get($map, border-warning);
  }
  .widget .table tbody tr {
    background: map-get($map, widget-table-row-background);
    &:hover {
      background: map-get($map, widget-table-row-background-hover);
    }
  }
  // #endregion

  // #region WIDGETS

  // #endregion

  // #region VALIDATION
  .body-#{$theme} .valid {
    border: 1px solid;
    border-color: map-get($map, border-success);
  }
  .body-#{$theme} .invalid {
    border: 1px solid;
    border-color: map-get($map, border-danger);
  }
  // #endregion
}
