<!-- <app-login-page></app-login-page> -->
<app-landing></app-landing>
<div id="loader" class="loader-wrapper"></div>
<div class="page-wrapper">
    <!-- <app-sidebar></app-sidebar> -->
    <!-- <app-navbar></app-navbar> -->

   
    <!-- Page Content Holder -->
  <div id="content" class="main-content active">
    <!-- <div class="container-fluid page-header"></div> -->
    <section class="first">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- <app-user-register></app-user-register> -->
            
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<script src="../../node_modules/mdbootstrap/js/jquery.js"></script> 
<script src="../../node_modules/mdbootstrap/js/popper.js"></script>
<script src="../../node_modules/mdbootstrap/js/bootstrap.js"></script>
<script src="../../node_modules/mdbootstrap/js/mdb.js"></script> 
