<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FNL Engenharia</title>
</head>

<body class="body-light">
  <app-login-page></app-login-page>

  <script src="../../node_modules/mdbootstrap/js/jquery.js"></script>
  <script src="../../node_modules/mdbootstrap/js/popper.js"></script>
  <script src="../../node_modules/mdbootstrap/js/bootstrap.js"></script>
  <script src="../../node_modules/mdbootstrap/js/mdb.js"></script>
</body>

</html>