<div class="card">
    <div class="card-header">
        <h4 class="card-title">Cadastro de Assinantes</h4>
    </div>
    <div class="card-body">
        <form>
            <div class="form-row">
                <div class="col-md-6 col-12">
                    <div class="md-form md-outline mt-0">
                        <input type="text" id="user-name" class="form-control">
                        <label for="user-name">Nome</label>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="md-form md-outline mt-0">
                        <input type="text" id="user-cpf" class="form-control">
                        <label for="user-cpf">CPF</label>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 col-12">
                    <div class="md-form md-outline mt-0">
                        <input type="text" id="user-email" class="form-control">
                        <label for="user-email">Email</label>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 col-12">
                    <div class="md-form md-outline mt-0">
                        <input type="text" id="user-address" class="form-control">
                        <label for="user-address">Endereço</label>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="md-form md-outline mt-0">
                        <input type="text" id="user-phone" class="form-control">
                        <label for="user-phone">Celular</label>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="user-adm">
                        <label class="custom-control-label" for="user-adm">Administrador</label>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 col-12">
                    <div class="md-form md-outline mt-0">
                        <input type="text" id="user-password" class="form-control">
                        <label for="user-password">Senha</label>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="md-form md-outline mt-0">
                        <input type="text" id="user-confirm-password" class="form-control">
                        <label for="user-confirm-password">Confirmar Senha</label>
                    </div>
                </div>
            </div>
            <button class="btn btn-outline-primary btn-sm float-right">Cadastrar</button>
        </form>
    </div>
</div>