<div class="container">
    <div class="row chat-window col-md-3" id="chat_window_1">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading top-bar">
                    <div class="row">
                        <div class="col-md-8">
                            <h3>Guilherme</h3>
                            <div class="col-md-10" style="color: rgb(146, 146, 146)">
                                Condomínio XPTO
                            </div>
                        </div>
                        <div class="col-md-4" style="text-align: center;">
                            <img src="assets\img\tags.jpeg" style="border-radius: 50%;">
                        </div>
                        
                    </div>
                </div>
                <div class="panel-body msg_container_base">
                    <div class="row msg_container base_receive">
                        <div class="col-sm-auto">
                            <div class="messages-received msg_receive">
                                <p>Olá</p>
                                <!-- <time datetime="2009-11-13T20:00">Timothy • 51 min</time> -->
                            </div>
                        </div>
                    </div>
                    <div class="row msg_container base_sent">
                        <div class="col-sm-auto">
                            <div class="messages-sent msg_sent">
                                <p>Olá, Guilherme</p>
                                <!-- <time datetime="2009-11-13T20:00">Timothy • 51 min</time> -->
                            </div>
                        </div>
                    </div>
                    <div class="row msg_container base_receive">
                        <div class="col-sm-auto">
                            <div class="messages-received msg_receive">
                                <p>Como está o projeto?</p>
                                <!-- <time datetime="2009-11-13T20:00">Timothy • 51 min</time> -->
                            </div>
                        </div>
                    </div>
                    <div class="row msg_container base_sent">
                        <div class=" col-sm-auto">
                            <div class="messages-sent msg_sent">
                                <p>Estará pronto até o fim do dia</p>
                                <!-- <time datetime="2009-11-13T20:00">Timothy • 51 min</time> -->
                            </div>
                        </div>
                    </div>
                    <div class="row msg_container base_receive">
                        <div class="col-sm-auto">
                            <div class="messages-received msg_receive">
                                <p>Perfeito!</p>
                                <!-- <time datetime="2009-11-13T20:00">Timothy • 51 min</time> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input type="text" class="form-control chat_input" placeholder="Escreva sua mensagem">
                        <span class="input-group-btn">
                            <button class="btn btn-sm" id="btn-chat">Enviar</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>