
.main-content {
    width: calc(100% - #{$sidebar-width});
    padding: 15px;
    padding-top: $navbar-height + 20px;
    min-height: 100vh;
    transition: ease-in-out 0.4s;
    position: absolute;
    top: 0;
    right: 0;
}
.widget .card .card-header{
    z-index: 600;
}
.dataTables_filter, .dataTables_info, .dataTables_length {
    padding: 0 rem(10);
}